.vert {
  background-color: green;
  height: 50px;
  width: 50%;
  float: left;
}
.bleu {
  background-color: #069;
  height: 50px;
  width: 20px;
  float:left;
}
.rouge {
  float:
  backgroud-color: red;
  height: 50px;
  width: 20%;
}
.orange {

}
.gris {

}
.orange2 {

}
.vert2 {

}
.rouge2{

}
.noir{

}
